Client/Connected Services/ServiceReference1/LinearAlgebra.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:MathNet/Numerics/LinearAlgebra" elementFormDefault="qualified" targetNamespace="urn:MathNet/Numerics/LinearAlgebra" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MatrixStorageOfdouble">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="MatrixStorageOf{0}{#}" Namespace="urn:MathNet/Numerics/LinearAlgebra" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="double" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="RowCount" type="xs:int" />
      <xs:element minOccurs="0" name="ColumnCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MatrixStorageOfdouble" nillable="true" type="tns:MatrixStorageOfdouble" />
  <xs:complexType name="VectorStorageOfdouble">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="VectorStorageOf{0}{#}" Namespace="urn:MathNet/Numerics/LinearAlgebra" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="double" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Length" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VectorStorageOfdouble" nillable="true" type="tns:VectorStorageOfdouble" />
</xs:schema>