Client/Connected Services/ServiceReference1/MathNet.Numerics.LinearAlgebra.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MathNet.Numerics.LinearAlgebra" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MathNet.Numerics.LinearAlgebra" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="urn:MathNet/Numerics/LinearAlgebra" />
  <xs:complexType name="MatrixOfdouble">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="MatrixOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/MathNet.Numerics.LinearAlgebra" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="double" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="_x003C_ColumnCount_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_RowCount_x003E_k__BackingField" type="xs:int" />
      <xs:element xmlns:q1="urn:MathNet/Numerics/LinearAlgebra" name="_x003C_Storage_x003E_k__BackingField" nillable="true" type="q1:MatrixStorageOfdouble" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MatrixOfdouble" nillable="true" type="tns:MatrixOfdouble" />
  <xs:complexType name="VectorOfdouble">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="VectorOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/MathNet.Numerics.LinearAlgebra" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="double" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="_x003C_Count_x003E_k__BackingField" type="xs:int" />
      <xs:element xmlns:q2="urn:MathNet/Numerics/LinearAlgebra" name="_x003C_Storage_x003E_k__BackingField" nillable="true" type="q2:VectorStorageOfdouble" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VectorOfdouble" nillable="true" type="tns:VectorOfdouble" />
</xs:schema>