Client/Connected Services/ServiceReference1/WCF_TRSPO_Lib.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_TRSPO_Lib" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_TRSPO_Lib" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/MathNet.Numerics.LinearAlgebra" />
  <xs:complexType name="ObjectObgortka">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MathNet.Numerics.LinearAlgebra" minOccurs="0" name="Matrix" nillable="true" type="q1:MatrixOfdouble" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MathNet.Numerics.LinearAlgebra" minOccurs="0" name="Vector" nillable="true" type="q2:VectorOfdouble" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MathNet.Numerics.LinearAlgebra" minOccurs="0" name="_Matrix" nillable="true" type="q3:MatrixOfdouble" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MathNet.Numerics.LinearAlgebra" minOccurs="0" name="_Vector" nillable="true" type="q4:VectorOfdouble" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MathNet.Numerics.LinearAlgebra" minOccurs="0" name="com1" nillable="true" type="q5:VectorOfdouble" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/MathNet.Numerics.LinearAlgebra" minOccurs="0" name="compileY1" nillable="true" type="q6:VectorOfdouble" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/MathNet.Numerics.LinearAlgebra" minOccurs="0" name="compileY2" nillable="true" type="q7:VectorOfdouble" />
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/MathNet.Numerics.LinearAlgebra" minOccurs="0" name="compileY3" nillable="true" type="q8:MatrixOfdouble" />
      <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/MathNet.Numerics.LinearAlgebra" minOccurs="0" name="mainThreadCalculating" nillable="true" type="q9:VectorOfdouble" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ObjectObgortka" nillable="true" type="tns:ObjectObgortka" />
  <xs:simpleType name="MatrixEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="A" />
      <xs:enumeration value="A2" />
      <xs:enumeration value="A1" />
      <xs:enumeration value="B1" />
      <xs:enumeration value="C2" />
      <xs:enumeration value="B2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MatrixEnum" nillable="true" type="tns:MatrixEnum" />
  <xs:simpleType name="VectorEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="b" />
      <xs:enumeration value="b1" />
      <xs:enumeration value="c1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="VectorEnum" nillable="true" type="tns:VectorEnum" />
</xs:schema>